body{
    background-color: white;
    margin: 0cap;
    font-family: 'Poppins', sans-serif;
}
.container {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
  
  .glass {
    height: 350px;
    width: 200px;
  }
  
  .petals > div {
    position: absolute;
    background: #d52d58;
    width: 45px;
    height: 80px;
    top: 55px;
    transition: all 0.5s ease-out;
  }
  .petals > div:nth-child(1) {
    border-radius: 15px;
    box-shadow: 0px 0px 30px #f594b8;
    left: 80px;
    top: 60px;
    background: #d52d58;
  }
  .petals > div:nth-child(2),
  .petals > div:nth-child(4),
  .petals > div:nth-child(6) {
    background: #b81b43;
    left: 60px;
    border-radius: 0px 30px 0px 30px;
    transform-origin: bottom right;
  }
  .petals > div:nth-child(3),
  .petals > div:nth-child(5),
  .petals > div:nth-child(7) {
    background: #b81b43;
    left: 100px;
    border-radius: 30px 0px 30px 0px;
    transform-origin: bottom left;
  }
  .petals > div:nth-child(2) {
    z-index: 5;
    background: #ab1a3f;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
    animation: bloom2 3s ease-in-out;
    animation-fill-mode: forwards;
  }
  .petals > div:nth-child(3) {
    z-index: 4;
    background: #ab1a3f;
    top: 75px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
    animation: bloom3 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
  }
  .petals > div:nth-child(4) {
    z-index: 3;
    background: #b81b43;
    top: 70px;
    height: 75px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
    animation: bloom4 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
  }
  .petals > div:nth-child(5) {
    z-index: 2;
    background: #b81b43;
    top: 70px;
    height: 75px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
    animation: bloom5 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
  }
  .petals > div:nth-child(6) {
    z-index: 1;
    background: #c9204b;
    top: 65px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.3);
    animation: bloom6 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
  }
  .petals > div:nth-child(7) {
    z-index: 0;
    background: #c9204b;
    top: 65px;
    height: 70px;
    box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.3);
    animation: bloom7 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
  }
  
  .deadPetals > div {
    position: absolute;
    background: #d52d58;
    width: 20px;
    height: 15px;
    top: 120px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0px 0px 30px rgba(245, 148, 184, 0.5);
    transition: all 0.5s ease-out;
  }
  .deadPetals > div:nth-child(1) {
    left: 80px;
    transform: rotate(-30deg);
    animation: falling 10s 4s ease-in-out infinite;
  }
  .deadPetals > div:nth-child(2) {
    left: 101px;
    transform: rotate(-30deg);
    animation: falling 20s 8s ease-in-out infinite;
  }
  .deadPetals > div:nth-child(3) {
    left: 79px;
    transform: rotate(-30deg);
    animation: falling 20s 12s ease-in-out infinite;
  }
  .deadPetals > div:nth-child(4) {
    left: 92px;
    transform: rotate(-30deg);
    animation: falling 20s 16s ease-in-out infinite;
  }
  
  .leaves > div:nth-last-child(1) {
    position: absolute;
    width: 55px;
    height: 30px;
    background: #338f37;
    top: 120px;
    left: 75px;
    border-radius: 100px;
  }
  .leaves > div:nth-child(1) {
    position: absolute;
    width: 6px;
    height: 210px;
    background: #054c05;
    top: 95px;
    left: 100px;
    border-radius: 0 0 100px 100px;
  }
  .leaves > div:nth-child(2) {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 53px;
    border-radius: 5px 40px 20px 40px;
    background: #054c05;
    transform-origin: bottom;
    transform: rotate(-30deg);
    top: 180px;
    left: 80px;
    box-shadow: inset 5px 5px #066406;
  }
  .leaves > div:nth-child(3) {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 53px;
    border-radius: 40px 5px 40px 20px;
    background: #054c05;
    transform-origin: bottom;
    transform: rotate(30deg);
    top: 150px;
    left: 95px;
    box-shadow: inset -5px 5px #066406;
  }
  
  .thorns > div {
    position: absolute;
    width: 0;
    height: 0;
    top: 140px;
  }
  .thorns > div:nth-child(odd) {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #054c05;
    left: 105px;
  }
  .thorns > div:nth-child(even) {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #054c05;
    left: 95px;
  }
  .thorns > div:nth-child(1) {
    top: 200px;
  }
  .thorns > div:nth-child(2) {
    top: 170px;
  }
  .thorns > div:nth-child(4) {
    top: 230px;
  }
  
  @keyframes bloom2 {
    50% {
      transform: rotate(-90deg);
      top: 200px;
      left: 100px;
    }
    100% {
      transform: rotate(-60deg);
      top: 252px;
      left: 50px;
      background: #71122a;
      box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
    }
  }
  @keyframes bloom3 {
    100% {
      transform: rotate(45deg);
    }
  }
  @keyframes bloom4 {
    100% {
      transform: rotate(-20deg);
    }
  }
  @keyframes bloom5 {
    100% {
      transform: rotate(20deg);
    }
  }
  @keyframes bloom6 {
    100% {
      transform: rotate(-5deg);
    }
  }
  @keyframes bloom7 {
    100% {
      transform: rotate(5deg);
    }
  }
  @keyframes glowing {
    50% {
      background: #d7365f;
      box-shadow: 0px 0px 60px #f594b8;
    }
  }
  @keyframes falling {
    20% {
      top: 335px;
      background: #9d193b;
      box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
    }
    100% {
      top: 335px;
      opacity: 0;
    }


}
header{
    background-color: white;
    display: flex;
    height: 130px;
    width: 100%;
}
#logo{
    display: flex;
}
h1{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
}
   

#image{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    
    background-image: url("/Assets/360_F_308397226_ZZeDguxP7owqPAddTvmgi3s3Y7q7Wgrw.jpg");
    background-size: cover;

}

#anchor{
    
    margin-top: 45px;
    margin-left: 300px;
    margin-bottom: 50px;
    
    
    
}
a{
    font-size: 22px;
    padding-right: 28px;
    text-decoration: none;
    color: #D55D83;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
a:hover{
  color: black;
}
#mid{
    margin-top: 50px;
    line-height: 2px;
}
#happy{
    font-size: 25px;
    margin-left: 120px;
}
#Valentines_day{
    
    margin-left: 120px;
    font-family: 'Great Vibes', cursive;
            font-size: 70px;
            font-weight: normal;
            color: red;
}
#Valentines_para{
  padding-top: 55px;
    line-height: 25px;
    margin-left: 200px;
    margin-right: 300px;
    font-size: 18px;

}
#image2{
    margin-left: 300px;
    width: 45%;
    height:  350px;
    
    background-image: url("/Assets/stock-vector-one-continuous-drawing-of-heart-and-color-shape-love-sign-thin-flourish-and-romantic-symbols-in-2105512847-removebg-preview.png");
    background-size: cover;
}
#HappyMoments{
  margin-left: 90px;
  display: grid;
  grid-template-rows: repeat(4,1f4);
}
#heading2{
  text-shadow: 2px 2px 10px rgba(245, 148, 184, 0);
    margin-top: 40px;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline red;
   
    
    
    
}
#imageGallery{
  display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    gap: 25px;
    padding-right: 25px;
    margin-right: 25px;
    
    
    
  
}
.galleries:hover{
  box-shadow: 4px 4px 15px black;
  transition: 0.8s;
  transform: translateY(2px);

    

}
#a1{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/shea-rouda-mRQk1B4OM0k-unsplash.jpg");
  background-size: cover;
  
}
#a2{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/couple-5028352_1280.jpg");
  background-size: cover;
}
#a3{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/couple-863456_1280.jpg");
  background-size: cover;
}
#a4{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/devon-divine-kEPWn8zSbwg-unsplash.jpg");
  background-size: cover;
}
#a5{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/couple-5357132_1280.jpg");
  background-size: cover;
}
#a6{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/love-6713977_1280.jpg");
  background-size: cover;
}
#a7{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/people-2594745_1280.jpg");
  background-size: cover;
}
#a8{
  height: 280px;
  width: 280px;
  background-image: url("https://images.pexels.com/photos/1024960/pexels-photo-1024960.jpeg?cs=srgb&dl=pexels-asadphoto-1024960.jpg&fm=jpg");
  background-size: cover;
}
#a9{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/couple-1867098_1280.jpg");
  background-size: cover;
}
#a10{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/france-1049333_1280.jpg");
  background-size: cover;
}
#a11{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/couple-802062_1280.jpg");
  background-size: cover;
}
#a12{
  height: 280px;
  width: 280px;
  background-image: url("/Assets/bicycles-1867046_1280.jpg");
  background-size: cover;
}

#letter{
  margin-right: 90px;
  margin-left: 90px;
  margin-top: 150px;
  font-size: 20px;
  font-style: italic;
  color: #D55D83;
  font-family: 'Times New Roman', Times, serif;
}
#heading3{
  color: black;
}
#songs{
  margin: 0;
  padding: 0;
}
#footer{
  margin-top: 100px;
  background-color: #992113;
  min-height: 100px;
  width: 100%;
  color: white;
  text-align: center;
  
  
}
#heading4{
  padding-top: 5px;
}
#Details{
  
  display: flex;
  justify-content: center;
  font-size: 20px;

}
iframe{
  border-radius: 0;
}